<!DOCTYPE html>
<html lang="es">
<body>
  <% if (userLogged) { %>
    <%- include('./partials/headerLogueado', { data: { usuario: userLogged } }) %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>

  <div class="col-12">
  <h2 class="products-title">Ingresar</h2>

  <form action="/usuario/login" method="post" class="formRegister">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <div class="recordarme">
      <input type="checkbox" id="recordarme" name="recordame"> Recordarme
    </div>

    <button type="submit">Ingresar</button>
  </form>
</div>


  <%- include('./partials/footer') %>
</body>
</html>
