<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->


<body>
	
	 	<% if (userLogged) { %>
    	<%- include('./partials/headerLogueado', { data: { usuario: userLogged } }) %>
  		<% } else { %>
    	<%- include('./partials/header') %>
  		<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/productos/store" method="post" class="formRegister">
					<label for="imagen">Imagen</label>
					<input type="text" name="imagen" id="imagen">

					<label for="producto">Nombre del producto: </label>
					<input type="text" name="nombre" id="nombre">

					<label for="descripcion">Descripción del producto</label>
					<input type="text" name="descripcion_corta" id="descripcion_corta">

					<button type="submit" >Agregar gato</button>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>