<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->


<body>
	
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="../routes/product-add.js" method="get">
					<label for="imagen">Imagen</label>
					<input type="file" name="imagen" id="imagen">

					<label for="producto">Nombre del producto</label>
					<input type="text" name="producto" id="producto">

					<label for="descripcion">Descripción del producto</label>
					<input type="text" name="descripcion" id="descripcion">
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>